/* D-DIN Font Family */
@font-face {
    font-family: 'D-DIN';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/D-DIN.otf') format('opentype');
}

@font-face {
    font-family: 'D-DIN';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/D-DIN-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'D-DIN';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/D-DIN-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'D-DIN Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/D-DINCondensed.otf') format('opentype');
}

@font-face {
    font-family: 'D-DIN Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/D-DINCondensed-Bold.otf') format('opentype');
}